// Review https://www.sublimetext.com/docs/3/color_schemes.html#colors


// ICU Syntax Highlighting
.paragraph-text .text {
	-fx-fill: black;
}


#icuEditor .forwardArrow {
	-fx-fill: #008e00;
	-fx-font-weight: bold;
}

#icuEditor .reverseArrow {
	-fx-fill: orangered;
	-fx-font-weight: bold;
}

#icuEditor .bothArrow {
	-fx-fill: mediumvioletred;
	-fx-font-weight: bold;
}

#icuEditor .variable {
	-fx-fill: cyan;
}

#icuEditor .comment {
	-fx-fill: teal;
}

#icuEditor .directive {
	-fx-fill: black;
}

#icuEditor .identifier {
	-fx-fill: orange;
}

#icuEditor .paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}


// XML Syntax Highlighting
#icuEditor .tagmark {
    -fx-fill: gray;
}
#icuEditor .anytag {
    -fx-fill: crimson;
}
#icuEditor .attribute {
    -fx-fill: darkviolet;
}
#icuEditor .avalue {
    -fx-fill: black;
}
#icuEditor .cdata {
	-fx-fill: blue;
	-fx-font-weight: bold;
}
