// Review https://www.sublimetext.com/docs/3/color_schemes.html#colors


// ICU Syntax Highlighting
.forwardArrow {
	-fx-fill: #008e00;
	-fx-font-weight: bold;
}

.reverseArrow {
	-fx-fill: orangered;
	-fx-font-weight: bold;
}

.bothArrow {
	-fx-fill: mediumvioletred;
	-fx-font-weight: bold;
}

.variable {
	-fx-fill: cyan;
}

.comment {
	-fx-fill: teal;
}

.directive {
	-fx-fill: black;
}

.identifier {
	-fx-fill: orange;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}


// XML Syntax Highlighting
.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}
.cdata {
	-fx-fill: blue;
	-fx-font-weight: bold;
}