// Review https://www.sublimetext.com/docs/3/color_schemes.html#colors

.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}

.comment {
	-fx-fill: teal;
}
.cdata {
    -fx-font-weight: bold;
	-fx-fill: blue;
}
.variable {
	-fx-fill: aqua;
}
.directive {
	-fx-fill: black;
}
.identifier {
	-fx-fill: yellow;
}
.forwardArrow {
	-fx-font-weight: bold;
	-fx-fill: #008e00;
}
.reverseArrow {
	-fx-font-weight: bold;
	-fx-fill: orangered;
}
.bothArrow {
	-fx-font-weight: bold;
	-fx-fill: mediumvioletred;
}